<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="asdomiEntities" connectionString="metadata=res://*/ModelAsdomi.csdl|res://*/ModelAsdomi.ssdl|res://*/ModelAsdomi.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;database=asdomi;password=siojjr;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>